# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# VS Code settings
.vscode/
venv39/

# Environment / config files
.env
*.log

# System files
*.sqlite

# Node or package folders (if ever used)
node_modules/